<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
  {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="https://source.unsplash.com/1600x900/?nature,water" alt="thapa" class="img-fluid" title="thapa technicle">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>  i am a <span class="text-clr">mern stack developer</span>youtuber and  a freelancer</h1>
                        <a href="https://www.ggoogle.com/" target="thapa"><button>about me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>